<h1>Editing listing</h1>

<%= render 'form' %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<strong><%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %></strong>
